doctype html
html(lang="en")
  head
    include ./common/meta.pug
    include ./common/GTM-head.pug
  body
    include ./common/GTM-body.pug
    include ./common/header.pug
    .fullpage-header
      .spacer80
      .spacer32
      .m600.m-l-r-auto
        .row.hidden-sm.hidden-xs
          .col-sm-3
            img(src=conf_img, alt="Logo of La Product Conf", class="col-sm-12")
          .col-sm-6
            a(href="./",title="TalkSearch home")
              img(src="assets/images/logo-talksearch-white.svg", width=200)
            .spacer8
            p.color-white Search conference video titles and transcripts, powered by Algolia

      h1.text-center.color-white.text-thin Explore talks from&nbsp;
        =title
      .spacer32
    .fullpage-container
      iframe(src=`https://talksearch-embed.algolia.com/?i=${index}` allowfullscreen)
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
