doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug
    div.z10
      include ./common/hero.pug

    .fill-steel-gray
      .spacer40
      .container.text-center.m600
        h2.text-thin.color-white Make it searchable!
        p.color-portage Provide Algolia with a YouTube playlist of videos, and Algolia will index & transcribe them, providing you with an embeddable search & video-viewing experience for your website.
        .spacer80

    .fill-athens-gray
      .container
        .spacer80
        .row
          .col-sm-6
            .m400
              h2.text-thin Reach out today
              p.color-portage Conference organizers are invited to fill out the TalkSearch request form - we’ll send them a snippet of code to add to their website, which will generate an instant search experience.
              .spacer40
              h2.text-thin See it live on
              //- img(src="assets/images/devrelcon.png", width=180)
              ul
                li
                  a(href="dotconferences.html") dotConferences
                li
                  a(href="jsconf-bp.html") JSConf Budapest
                li
                  a(href="searchparty.html") SearchParty
                li
                  a(href="techlunch.html") TechLunch
                li
                  a(href="humantalks.html") HumanTalks Paris

          .col-sm-6
            .m500
              form(method="POST",action="https://go.pardot.com/l/139121/2017-12-07/279szp").elevation2.p-xlarge.radius6.fill-white
                h2.text-thin Get Started, it's free
                .spacer16
                .form-group
                  label Email
                    span.text-thin  - we'll send you the next steps
                  input.form-control(name="email",type="text", placeholder="enter a valid email")
                .form-group
                  label YouTube channel or playlist URL
                  input.form-control(name="youtubeUrl",type="text", placeholder="https://youtube.com/")
                .form-group
                  label Your conference avatar URL
                    span.text-thin  (256x256px min)
                  input.form-control(name="avatarUrl",type="text", placeholder="https://pbs.twimg.com/…400x400.jpg")
                .checkbox
                  label
                    input(name="newsletter",type="checkbox")
                    | Receive Algolia newsletter, written by our dev team. 
                .checkbox
                  label
                    input(name="official",type="checkbox")
                    | I'm an official organizer of this conference
                .spacer40
                .text-center
                  button.btn.btn-cta.w200(type="submit") Submit
                .spacer16

      .spacer120
      .spacer120
      .spacer120
    include ./common/footer.pug
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
