doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug
    div.z10
      include ./common/hero.pug

    .fill-steel-gray
      .spacer40
      .container.text-center.m600
        h2.text-thin.color-white Make it searchable!
        p.color-portage If your conference or meetup has a YouTube playlist of videos, it can also have a TalkSearch! Algolia will the transcripts from each video and give you back a search page just for your event.
        .spacer80

    .fill-athens-gray
      .container
        .spacer80
        .row
          .col-sm-6
            .m400.m-l-r-auto
              h2.text-thin Reach out today
              p.color-portage Conference and meetup organizers are invited to fill out the TalkSearch request form. Algolia will index your videos and email you back a link to your event's unique search experience.
              p.color-portage Question? Reach us at community@algolia.com.
              .spacer16
              h2.text-thin See it live
              //- img(src="assets/images/devrelcon.png", width=180)
              ul.list-unstyled
                li.fill-white.m-b.radius6.p-small
                  a.h4(href="dotconferences.html")
                    img.m-r(src="assets/images/logo-dotconf.png", width=40)
                    | dot Conference
                    i.icon-arrow-right.pull-right.m-t.m-r
                li.fill-white.m-b.radius6.p-small
                  a.h4(href="jsconf-bp.html")
                    img.m-r(src="assets/images/logo-jsconf-budapest.svg", width=40)
                    | JSConf Budapest
                    i.icon-arrow-right.pull-right.m-t.m-r
                li.fill-white.m-b.radius6.p-small
                  a.h4(href="searchparty.html")
                    img.m-r(src="assets/images/logo-searchparty.png", width=40)
                    | Algolia Search Party
                    i.icon-arrow-right.pull-right.m-t.m-r
                li.fill-white.m-b.radius6.p-small
                  a.h4(href="techlunch.html")
                    img.m-r(src="assets/images/logo-techlunch.png", width=40)
                    | Algolia's TechLunch
                    i.icon-arrow-right.pull-right.m-t.m-r
                li.fill-white.m-b.radius6.p-small
                  a.h4(href="humantalks.html")
                    img.m-r(src="assets/images/logo-humantalks.png", width=40)
                    | HumanTalks Paris
                    i.icon-arrow-right.pull-right.m-t.m-r
              .spacer40
          .col-sm-6
            .m500.m-l-r-auto
              form(method="POST",action="https://go.pardot.com/l/139121/2017-12-07/279szp").elevation2.p-xlarge.radius6.fill-white
                h2.text-thin Get Started. 100% free.
                .spacer16
                .form-group
                  label Email
                    span.text-thin  - we'll send you the next steps
                  input.form-control(name="email",type="text", placeholder="organizer@conference.org")
                .form-group
                  label YouTube channel or playlist URL
                  input.form-control(name="youtubeUrl",type="text", placeholder="https://youtube.com/")
                .form-group
                  label Conference or meetup logo URL
                    span.text-thin  (256x256px min)
                  input.form-control(name="avatarUrl",type="text", placeholder="https://pbs.twimg.com/…400x400.jpg")
                .checkbox
                  label
                    input(name="official",type="checkbox")
                    | I help organize this event
                .spacer40
                .text-center
                  button.btn.btn-cta.w200(type="submit") Submit
                .spacer16

      .spacer120
      .spacer120
      .spacer120
    include ./common/footer.pug
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
