/* Debug utilities */
.debug,
.debug * {
  outline: 1px solid purple;
}
@screen sm {
  .debug,
  .debug * {
    outline: 1px solid red;
  }
}
@screen md {
  .debug,
  .debug * {
    outline: 1px solid orange;
  }
}
@screen lg {
  .debug,
  .debug * {
    outline: 1px solid gold;
  }
}
@screen xl {
  .debug,
  .debug * {
    outline: 1px solid green;
  }
}

/* See classes on hover */
.debug-class *[class] {
  outline: 1px solid green;
  cursor: pointer;
  &:before {
    position: absolute;
    margin-top: -2rem;
    content: attr(class);
    @apply .code .text-white .p-0x;
    @apply .hidden;
    @apply .bg-green;
  }
  &:hover {
    &:before {
      @apply .inline;
    }
  }
  *[class] {
    outline: 1px solid orange;
    &:before {
      @apply .bg-orange;
    }
    *[class] {
      outline: 1px solid red;
      &:before {
        @apply .bg-red;
      }
    }
  }
}
