.demo-container
  max-width: 800px
  height: 634px
  position: relative
  z-index: 100
  width: 96%
  @media (max-width: 600px)
    height: 1060px

.widget-container
  margin: 8px 0
  padding: 0 8px
  width: 100%
  height: 550px
  border: dashed 2px $portage
  border-radius: 4px
  @media (max-width: 600px)
    height: 950px
  iframe
    overflow-y: hidden
    width: 100%
    height: 100%
    border: none

.fullpage-header
  background: url('../assets/images/bg.svg') #F7F7FF
  background-size: cover

.logo-placeholder
  background: white
  border-radius: 4px
  width: 110px
  height: 110px
  float: right

.fullpage-container
  height: 100%
  height: 1200px
  background: #F7F7FF

  iframe
    overflow-y: hidden
    width: 100%
    height: 100%
    border: none

.fill-steel-gray
  background-color: $steel-gray
