.demo-container
  width: 800px
  height: 600px
  position: relative
  z-index: 100

.widget-container
  margin: 16px 0
  width: 760px
  height: 480px
  border: dashed 2px $portage
  border-radius: 4px

.fill-steel-gray
  background-color: $steel-gray
