section.hero
  .spacer80
  h1.w200.m-l-r-auto
    a(href="/",title="TalkSearch home")
      img.img-responsive(src="assets/images/logo-talksearch-white.svg")
  h2.color-white A tool to help conference organizers make all their videos searchable & interactive
  .spacer40
  .demo-container.elevation2.fill-white.radius6.h-center.p-small
    
    span.radius6.fill-purple-heart.p-mini.color-white.m-r Demo
    span Give TalkSearch a spin by searching for 'bootstrap' in this video
    .widget-container
      iframe(src="https://talksearch-embed.algolia.com/?i=dotconferences&video=UIDb6VBO9os&affiliation=false&autoplay=false")
    p < Embedable widget />
