section.hero
  .spacer80
  h1.m-l-r-auto
    a(href="/",title="TalkSearch home")
      img(src="assets/images/logo-talksearch-white.svg")
  h2.color-white An interactive search experience for video titles and transcripts, made for conferences and meetups.
  .spacer40
  .demo-container.elevation2.fill-white.radius6.h-center.p-small

    span.radius6.fill-purple-heart.p-mini.color-white.m-r Demo
    span Search for 'frequency' in this video and click on a result
    .widget-container
      iframe(src="https://talksearch-embed.algolia.com/?i=dotconferences&video=Qb08pUWB2lc&affiliation=false&autoplay=false")
    p < Embedable widget preview code /> (coming soon)
