section.hero
  .spacer80
  h1
    a(href="/",title="TalkSearch home")
      img(src="assets/images/logo-talksearch-white.svg")
  h2.color-white A tool to help conference organizers make all their videos searchable & interactive
  .spacer40
  .demo-container.elevation2.fill-white.radius6.h-center.p-large
    
    span.radius6.fill-purple-heart.p-mini.color-white.m-r Demo
    span Give TalkSearch a spin by searching for 'language' in this video
    .widget-container
    p < Embedable widget preview code /> 
