@import "../_demo.css";

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url("./Montserrat-Medium.woff");
}
.montserrat {
  font-family: Montserrat;
}

body {
  @apply .montserrat;
}

.header {
  @apply .bg-blue;
}

/* Main highlight */
.ats-hit--details .ats-highlight {
  @apply .border-blue text-blue;
}
/* Caption highlight */
.ats-hit--caption .ats-highlight {
  @apply .text-blue;
}

/* Years/Conference menu hover/active */
.ais-menu--item:hover,
.ais-menu--item__active {
  @apply .bg-blue text-white;
}

/* Pagination active/hover */
.ais-pagination--item:hover,
.ais-pagination--item__active {
  @apply .bg-blue;
}
