@import "./_styles/tailwind.css";
@import "./_styles/debug.css";
@import "./_styles/fonts.css";
@import "./_styles/highlight.css";

/* Gradients */
.bgtb-white-moon {
  background-image: linear-gradient(#fff, #f5f5fa);
}


/* Global styles */
a,
a:active {
  @apply .cursor-pointer;
  @apply .text-nebula .no-underline;
}
a:hover,
a:focus {
  @apply .underline;
}

/* Custom styles */
.custom-search-input {
  /* Inputs are always too high of 2px, so we put it down, but we also add some
   * specific padding around it, to center it
   **/
  padding-top: calc(.5rem + 2px);
  @apply .pb-05;
}
.custom-community-projects {
  width: 400px;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: .25s;
  will-change: opacity;
}
.custom-community-link:hover .custom-community-projects {
  opacity: 1;
  pointer-events: auto;
}

code {
  @apply .code .text--1 .text-mars-0;
  @apply .p-0x;
  @apply .bg-moon;
  @apply .rounded-1;
}

/* Content converted form markdown */
.documentation-content {
  /* Paragraphs */
  p {
    @apply .leading-2 my-1;
  }
  ul {
    @apply .leading-2 my-1;
  }
  /* Titles */
  h2 {
    @apply .text-solstice .text-5 .normal;
    @apply .mb-1;
    /* Trick to have heading scroll into view and not being hidden by header */
    &:before {
      content: "";
      display: block;
      @apply .h-2x;
    }
    .anchor {
      @apply .hidden;
      &:after {
        content: "#";
      }
    }
    &:hover .anchor {
      @apply .inline-block;
    }
  }
}
