/* stylelint-disable at-rule-no-unknown */
@tailwind preflight; 
@tailwind utilities;

.debug, .debug * { outline: 1px solid gold; }

/* Fonts */
.hind { font-family: "Hind", sans-serif; }
.poppins { font-family: "Poppins", sans-serif; }

/* Gradients */
.bgtb-white-moon { background-image: linear-gradient(#fff, #f5f5fa) }

/* Global styles */
a, a:active { 
  @apply .cursor-pointer;
  @apply .text-nebula .no-underline;
}
a:hover, a:focus {
  @apply .underline;
}

/* Content converted form markdown */
.documentation-content p {
  @apply .mb-1;
  @apply .leading-2;
}
.documentation-content h2 {
  @apply .text-solstice .text-4 .normal;
  @apply .mb-1
}
