@import "../_demo.css";

.header {
  @apply .bg-orange;
}

/* Speaker name extraction is not very good on this demo as all title follow
 * a different format. So, better to hide it all */
.ats-hit--videoSubtitle { display: none; }

/* Main highlight */
.ats-hit--details .ats-highlight {
  @apply .border-orange text-orange;
}
/* Caption highlight */
.ats-hit--caption .ats-highlight {
  @apply .text-orange;
}

/* Years/Conference menu hover/active */
.ais-menu--item:hover,
.ais-menu--item__active {
  @apply .bg-orange text-white;
}
/* Menu counts */
.ais-menu--item:hover .ais-menu--count,
.ais-menu--item__active .ais-menu--count {
  @apply text-white;
}

/* Pagination active/hover */
.ais-pagination--item:hover,
.ais-pagination--item__active {
  @apply .bg-orange;
}
